
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutOperador.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
         <img src="http://multicentro-desamparados.com/wp-content/uploads/2009/03/telecable.png"/>
        <h3>Tele Cable CR</h3>
        <div class="col half">
            <div class="pad">
                <br /> <h4><span>Control de clientes empresariales, acá podemos:</span></h4>
            <p>
	            <span style="font-size:14px;">- Ingresar nuevos clientes empresariales.</span></p>
            <p>
	            <span style="font-size:14px;">- Editar y eliminar clientes ya creados.</span></p>
            <p>
	            <span style="font-size:14px;">- Llevar historial de cada cliente.</span></p>
             <p>
	            <span style="font-size:14px;">- Buscar clientes para consultar la información.</span></p>
             </div>
        </div> 
    </div>
</body>
   
</html>
